.list-container {
  margin: 0 auto;
  width: 450px;
  background: linear-gradient(to right top, #008793, #8ce5b7, #a8eb12);
  padding: 0 15px;
}

.list-container .list-content {
  background: #fbfef9;
  padding: 10px;
  text-align: center;
}

.list-container .list-content h4,
.list-container .list-content span {
  color: #008793;
}

.list-container .pagination {
  margin: auto;
}

.list-container .list-content span {
  padding: 0 20px;
  font-weight: bold;
  cursor: pointer;
}

.list-content span img {
  vertical-align: sub;
}
