.details-container {
  background-image: url("../../../assets/pokemon-background.png");
  background-size: cover;
  height: 100vh;
}

.details-container .details-content {
  margin: 0 auto;
  width: 450px;
  text-align: center;
}

.details-container h4 {
  padding: 10px;
  background-color: #8ce5b7;
  color: white;
  border-radius: 0 0 5px 5px;
}

.pokemon-details {
  position: relative;
  margin-top: 100px;
}

.pokemon-details img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: -80px;
}

.pokemon-details h2 {
  position: relative;
  width: fit-content;
  margin: auto;
  padding-bottom: 20px;
  text-transform: capitalize;
}

.pokemon-details h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background: #8ce5b7;
  left: 0;
  top: 32px;
  border-radius: 2px;
}

.pokemon-details .stats {
  padding-top: 50px;
  background-color: white;
  border-radius: 5px;
}

.stats .stats-grid {
  display: inline-flex;
  margin-top: 20px;
}

.stats .stats-grid span {
  margin: 0 40px;
  font-size: 16px;
  color: #444;
}

.stats .stats-grid p {
  font-size: 12px !important;
}

.stats .stats-grid span:first-child:after {
  margin-left: 40px;
  border-right: 2px solid gray;
}

.stats > hr {
  margin: 0 20px;
  background-color: lightgray;
  border: none;
  height: 1px;
}
